.title{
    margin-left: 350px;
    color: #777777;
    /* border: solid; */
}
.p1{
    padding: 24px;
    margin-left: 50px;
    font-size: 25px;
}
/* .search-area{
    margin-left: 350px;
} */
/* .sarea{
    padding: 20px;
    margin-left: 350px;
} */
.wrapper{
    background: #8c0101;
}
.container{
    margin-left: 136px;
}